{{> components-header}}

{{! hero-3 }}
<div class="mt-3 mb-24">
  <div class="hero-3">
    <div class="container pt-32 pb-20">
      <div class="hero-3__intro">
        <p class="hero-3__text-2 text-[25px] md:text-[40px] lg:text-[50px]">
          faq
        </p>
        <a href="" class="hero-3__btn">home</a>
        <span> / </span>
        <a href="" class="hero-3__btn hero-3__btn--bold">FAQ</a>
      </div>
    </div>
    <img src="/images/farmer.svg" class="hero__farmer" alt="Farmer Image" />
  </div>
</div>
{{! hero-3 }}

<div class="container mb-56">
  <div class="grid grid-cols-12 gap-y-5">

    <div class="col-span-3">
      {{> components-faq-menu}}
    </div>

    <div class="col-start-5 col-span-full">
      {{> components-faq-answer}}
    </div>

  </div>
</div>

{{> components-footer}}