{{> components-header}}

{{> components-hero}}

{{!-- card-category component --}}
<div class="container mb-24">
  <div class="mb-8">
    <h2 class="heading-section text-[24px] lg:text-[30px]">top categories of the
      month</h2>
  </div>
  {{!-- mobile --}}
  <div class="glide-category relative xl:hidden">
    <div class="glide__track" data-glide-el="track">
      <div class="glide__slides">
        {{> components-card-category}}
      </div>
    </div>

    <div class="glide__arrows" data-glide-el="controls">
      <button
        class="absolute top-1/2 left-0 -translate-y-1/2"
        data-glide-dir="<"
      >
        <div class="nav-arrow-2">
          <i class="fa-solid fa-chevron-left"></i>
        </div>
      </button>
      <button
        class="absolute top-1/2 right-0 -translate-y-1/2"
        data-glide-dir=">"
      >
        <div class="nav-arrow-2 nav-arrow-2__right nav-arrow-2__active">
          <i class="fa-solid fa-chevron-left"></i>
        </div>
      </button>
    </div>
  </div>
  {{!-- mobile --}}

  {{!-- desktop --}}
  <div class="hidden xl:flex xl:justify-between">
    {{> components-card-category}}
  </div>
  {{!-- desktop --}}
</div>
{{!-- card-category component --}}

{{!-- banner-2 component --}}
<div class="mb-24">
  {{> components-banner-2}}
</div>
{{!-- banner-2 component --}}

{{!-- card-featured-product component --}}
<div class="container">
  {{!-- featured-product-badge component --}}
  <h2 class="heading-section text-[24px] md:text-[30px]">featured products</h2>
  <div class="flex justify-center mt-9 mb-12">
    {{> components-featured-product-badge}}
  </div>
  {{!-- featured-product-badge component --}}

  {{!-- mobile --}}
  <div class="glide-featured-product relative xl:hidden">
    <div class="glide__track" data-glide-el="track">
      <div class="glide__slides">
        {{> components-card-featured-product}}
      </div>
    </div>

    <div class="" data-glide-el="controls">
      <button class="nav-arrow absolute top-1/2 left-0" data-glide-dir="<">
        <i class="fa-solid fa-chevron-left"></i>
      </button>
      <button
        class="nav-arrow nav-arrow__right nav-arrow__active absolute top-1/2 right-0"
        data-glide-dir=">"
      >
        <i class="fa-solid fa-chevron-right"></i>
      </button>
    </div>

    <div
      class="absolute -bottom-8 left-1/2 -translate-x-1/2"
      data-glide-el="controls[nav]"
    >
      <button class="nav-bullets__bullet" data-glide-dir="=0"></button>
      <button
        class="nav-bullets__bullet nav-bullets__bullet--active"
        data-glide-dir="=1"
      ></button>
      <button class="nav-bullets__bullet" data-glide-dir="=2"></button>
      <button class="nav-bullets__bullet" data-glide-dir="=3"></button>
      <button class="nav-bullets__bullet" data-glide-dir="=4"></button>
    </div>
  </div>
  {{!-- mobile  --}}

  {{!-- desktop --}}
  <div class="hidden xl:grid xl:grid-cols-12 gap-7">
    {{> components-card-featured-product}}
  </div>
  {{!-- desktop --}}
</div>
{{!-- card-featured-product component  --}}

{{!-- order-service component --}}
<div class="container mt-32 mb-24">
  {{> components-order-service}}
</div>
{{!-- order-service component --}}

<h2 class="heading-section mb-10 flex-col xl:flex-row text-[24px] xl:text-[30px]">deal of the day
  <span class="heading-section__badge px-12 xl:px-8">ends in: 04:43:11</span>
</h2>
{{!-- card-deal-of-the-day component --}}
<div class="container mb-24">
  {{!-- mobile --}}
  <div class="glide-deal-of-the-day relative xl:hidden">
    <div class="glide__track" data-glide-el="track">
      <div class="glide__slides">
        {{> components-card-deal-of-the-day}}
      </div>
    </div>

    <div class="" data-glide-el="controls">
      <button class="nav-arrow absolute top-1/2 left-0" data-glide-dir="<">
        <i class="fa-solid fa-chevron-left"></i>
      </button>
      <button
        class="nav-arrow nav-arrow__right nav-arrow__active absolute top-1/2 right-0"
        data-glide-dir=">"
      >
        <i class="fa-solid fa-chevron-right"></i>
      </button>
    </div>
  </div>
  {{!-- mobile  --}}
  
  {{!-- desktop --}}
  <div class="hidden xl:grid xl:grid-cols-12 gap-x-7">
    {{> components-card-deal-of-the-day}}
  </div>
  {{!-- desktop --}}
</div>
{{!-- card-deal-of-the-day component --}}

{{> components-hero-2}} 

{{!-- banner component --}}
<div class="container -translate-y-12 mb-24">
  {{> components-banner}}
</div>
{{!-- banner component --}}

<h2 class="heading-section mb-7 text-[24px] lg:text-[30px]">our blog</h2>
{{!-- card-blog component --}}
<div class="container mb-32">
  <div class="grid grid-cols-6 lg:grid-cols-12 gap-7">
    {{> components-card-blog}}
  </div>
</div>
{{!-- card-blog component --}}

<h2 class="heading-section mb-7 text-[24px] lg:text-[30px]">why choose us</h2>
{{!-- why-section component --}}
<div class="container mb-24">
  <div class="grid grid-cols-6 lg:grid-cols-12 gap-8">
    {{> components-why-section}}
  </div>
</div>
{{!-- why-section component --}}

<h2 class="heading-section mb-6 text-[24px] lg:text-[30px]">follow @freshen on
  instagram</h2>
{{!-- card-instagram component --}}
<div class="container mb-32">
  <div class="grid grid-cols-10 gap-2">
    {{> components-card-instagram}}
  </div>
</div>
{{!-- card-instagram component --}}

{{> components-footer}}