<div class="container">
  <div class="flex justify-end mb-40">
    {{> components-button-print}}
  </div>

  <div class="mb-14">
    {{> components-invoice-info}}
  </div>

  <div class="grid grid-cols-12 mb-44">
    <div class="col-start-2 col-end-12">
      {{> components-table}}
    </div>
  </div>
</div>

<div class="border-t border-grey border-solid"></div>

<div class="container">
  {{> components-bottom-bar-2}}
</div>