{{> components-header}}

{{> components-hero-3}}

<div class="container mb-8">
  {{> components-searched-result}}
</div>

<div class="container">
  <div class="grid grid-cols-6 lg:grid-cols-12 lg:gap-7">
    {{> components-card-featured-product}}
  </div>
</div>

<div class="container mt-28 mb-40">
  {{> components-pagination}}
</div>

{{> components-footer}}