.categories-button {
  border-radius: 4px;
  background-color: #86bc42;
  padding: 16px 21px;
  color: #fff;
  display: flex;
  align-items: center;

  &__nav-icon {
    font-size: 25px;
  }
  &__text {
    font-size: 12px;
    font-weight: bold;
    margin-left: 22px;
    margin-right: 36px;
  }
  &__arrow {
    font-size: 12px;
  }
}
