.contact {
  // display: flex;
  // flex-direction: column;
  // row-gap: 25px;
  // justify-content: space-between;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  background-color: #41544a;
  // padding-top: 50px;

  &__title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 55px;
  }

  &__method {
    display: flex;
    align-items: center;
    position: relative;

    &--2 {
      margin: 26px 0;
    }
  }

  &__icon {
    position: absolute;
    left: 0;

    &--phone {
      width: 25px;
      height: 25px;
    }
  }

  &__detail {
    transform: translateX(58px);

    &--phone {
      font-size: 30px;
      font-weight: 400;
    }

    &--wrk-hour {
      line-height: 30px;
    }
  }
}
