.header {
  display: flex;
  height: 30px;
  background-color: #41544a;
  color: #fff;
  font-size: 12px;
  line-height: 30px;
  position: relative;
  &__contact {
    display: flex;
    position: absolute;
    left: 13.5%;
  }
  &__phone-number {
    margin-right: 8px;
  }
  &__mail-address {
    margin-left: 30px;
    margin-right: 8px;
    font-size: 14px;
  }

  &__free-shipping {
    position: absolute;
    left: 39%;
  }
  &__dropdown {
    display: flex;
    position: absolute;
    left: 70%;
  }
  &__dropdown-name {
    opacity: 70%;
    margin-right: 13px;
  }
  &__dropdown-list {
    margin-right: 38px;
  }
  &__dropdown-arrow {
    color: #fff;
    margin-left: 10px;
  }
}
