.hotline {
  color: #121212;
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 700;

  &__text {
    margin-left: 10px;
    margin-right: 2px;
  }

  &__number {
    color: #86bc42;
  }
}
