.promotion-big {
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  position: relative;
  height: 300px;
  aspect-ratio: 2.1/1;
  border: 1px solid transparent;
  
  &__bg-img {
    border-radius: 4px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    inset: 0;
  }

  &__content {
    position: absolute;
    top: 84px;
    left: 40px;
  }
  
  &__text-1 {
    font-size: 12px;
    letter-spacing: 0.1em;
  }

  &__text-2 {
    font-size: 29px;
    font-weight: 600;
    margin-top: 16px;
    margin-bottom: 14px;
  }

  &__btn {
    transition: all 0.25s ease-in;
    position: relative;
    font-size: 14px;
    padding-bottom: 8px;

    &:hover {
      color: #41544a;

      .promotion-big__btn-effect {
        background-color: #41544a;
      }
    }
  }
  
  &__btn-effect {
    transition: all 0.25s ease-in;
    width: 50px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: 0px;
    left: 0;
  }
}
