.promotion-big {
  background-image: url(/source/images/promotion-background.svg);
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  width: 630px;
  height: 300px;
  border: 1px solid transparent;
  border-radius: 4px;
  padding-top: 84px;
  padding-left: 40px;

  &__text-1 {
    font-size: 12px;
    letter-spacing: 0.1em;
  }

  &__text-2 {
    font-size: 29px;
    font-weight: 600;
    margin-top: 16px;
    margin-bottom: 14px;
  }

  &__btn {
    position: relative;
    font-size: 14px;
    padding-bottom: 8px;

    &:hover {
      transition: all 0.5s ease-in;
      color: #41544a;

      .promotion-big__btn-effect {
        transition: all 0.5s ease-in;
        background-color: #41544a;
      }
    }
  }

  &__btn-effect {
    transition: all 0.25s ease-in;
    width: 50px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: 0px;
    left: 0;
  }
}
