.top-categories {
  display: flex;
  flex-direction: column;
  color: #121212;

  &__title {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
  }

  &__categories-container {
    display: flex;
    justify-content: center;
    column-gap: 41px;
  }

  &__category {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }

  &__category-image {
    width: 125px;
    height: 125px;
    border: 1px solid #ebebeb;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__category-name {
    font-size: 14px;
    font-weight: 700;
  }

  &__category-image--active {
    width: 125px;
    height: 125px;
    border: 1px solid #86bc42;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__category-name--active {
    font-size: 14px;
    font-weight: 700;
    color: #86bc42;
  }
}
