.why-choose {
  &__content {
    display: flex;
    align-items: center;
    margin-bottom: 85px;
  }

  &__img {
    height: 452px;
  }

  &__icon {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    margin-right: 24px;
    background-color: #bfd6ca;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__heading {
    font-size: 18px;
    font-weight: 600;
    color: #121212;
    text-transform: uppercase;
    margin-bottom: 7px;
  }

  &__subheading {
    font-size: 14px;
    font-weight: 400;
    color: #4f4f4f;
    width: 185px;
  }
}
