<br><br>
<div class="sg-pattern-container">
  <div class="account-info">
    <button class="account-info__icon">
      <i class="fa-regular fa-user"></i>
    </button>

    <button class="account-info__icon">
      <span class="account-info__badge">2</span>
      <i class="fa-regular fa-heart"></i>
    </button>

    <button class="account-info__icon">
      <span class="account-info__badge">3</span>
      <i class="fa-solid fa-cart-shopping"></i>
      <span class="account-info__cart-total-price">$240.93</span>
    </button>
  </div>
</div>