<div class="address">
  <p class="address__detail">Collins Street West, Victoria
    <br />
    8007, Australia.
  </p>

  <a href="" class="address__btn">
    SHOW ON MAP
    <span class="address__btn-effect"></span>
  </a>
</div>