<button class="categories">
  <i class="fa-solid fa-bars categories__nav-icon"></i>
  <p class="categories__text">ALL CATEGORIES</p>
  <p><i class="fa-solid fa-chevron-down categories__arrow"></i></p>
</button>