<div class="banner">
  <img src="/images/banner-image-1.svg" alt="Banner Image">
  <img src="/images/banner-image-2.svg" alt="Banner Image">
  <img src="/images/banner-image-3.svg" alt="Banner Image">
  <img src="/images/banner-image-4.svg" alt="Banner Image">
  <img src="/images/banner-image-5.svg" alt="Banner Image">
</div>