<div class="banner">
  <img
    src="/images/banner-image-1.png"
    alt="Banner Image"
    class="banner__img"
  />
  <img
    src="/images/banner-image-2.png"
    alt="Banner Image"
    class="banner__img"
  />
  <img
    src="/images/banner-image-3.png"
    alt="Banner Image"
    class="banner__img"
  />
  <img
    src="/images/banner-image-4.png"
    alt="Banner Image"
    class="banner__img"
  />
  <img
    src="/images/banner-image-5.png"
    alt="Banner Image"
    class="banner__img"
  />
</div>