<div class="big-image">
  <div class="big-image__intro">
    <p class="big-image__text-1">ALL NATURAL PRODUCTS</p>
    <p class="big-image__text-2">HEALTHY FOOD<br />
      <span class="big-image__text-2-separate">& ORGANIC MARKET</span></p>
    <p class="big-image__text-3">
      <span class="big-image__text-3-separate">Organic food</span>
      is food produced by methods that comply with the<br>standards of organic
      farming.
    </p>
    <a href="" class="big-image__btn">SHOP NOW</a>
  </div>

<div class="big-image__farmer">
  <img src="/images/farmer.svg" class="big-image__farmer" alt="Farmer Image" />
</div>
</div>