{{#each blog}}
  <div class="blog">
    <div class="blog__image">
      <img src="/images/blog-image.svg" alt="Blog Image" />
      <div class="blog__date">
        <p class="blog__month">april</p>
        <p class="blog__day">08</p>
      </div>

      <div class="blog__tag">life style, farm</div>
    </div>

    <a href="" class="blog__title">{{this.blog-title}}</a>
    
    <div class="blog__author">
      <img src="/images/blog-user-icon.svg" alt="user icon" />
      <a href="" class="blog__account">by admin</a>

      <img src="/images/comment-icon.svg" alt="comment icon" />
      <a href="" class="blog__account">16 comments</a>
    </div>
  </div>
{{/each}}