<div class="bottom-bar-2">
  <a href="www.freshen.com" class="bottom-bar-2__link bottom-bar-2__link--active">www.freshen.com</a>
  <a href="mailto:invoice@freshen.com" class="bottom-bar-2__link">invoice@freshen.com</a>
  <a href="tel:(123)123-456" class="bottom-bar-2__link">(123) 123-456</a>
</div>