{{#each card-instagram}}
  <div class="card-ig">
    <img
      src="https://picsum.photos/id/204/200/300"
      alt="IG image"
      class="card-ig__img"
    />
    {{#if this.isActive}}
      <a href="" class="card-ig__icon {{this.iconActive}}">
        <i class="fa-brands fa-instagram"></i>
      </a>
    {{else}}
      <a href="" class="card-ig__icon">
        <i class="fa-brands fa-instagram"></i>
      </a>
    {{/if}}
  </div>
{{/each}}