<a class="ft-product-card ft-product-card__active" href="">

  <span class="ft-product-card__image">
    <img src="/images/ft-product-card.svg" alt="Featured Product" />
    <div class="ft-product-card__behaviour ft-product-card__behaviour--active">
      <div class="ft-product-card__save">
        <img src="/images/green-heart.svg" alt="Save icon" />
      </div>
      <img src="/images/black-search.svg" alt="Search" />
      <img src="/images/compare-icon.svg" alt="Compare" />
    </div>
  </span>

  <p class="ft-product-card__title">fruits</p>

  <span>
    <i class="fa-solid fa-star ft-product-card__star"></i>
    <i class="fa-solid fa-star ft-product-card__star"></i>
    <i class="fa-solid fa-star ft-product-card__star"></i>
    <i class="fa-solid fa-star ft-product-card__star"></i>
    <i
      class="fa-solid fa-star ft-product-card__star ft-product-card__star--grey"
    ></i>
  </span>

  <p class="ft-product-card__name">pineapple (tropical gold)</p>
  <p class="ft-product-card__volume">1 lb</p>
  <p class="ft-product-card__price ft-product-card__price--active">$2.00</p>

  <button class="ft-product-card__btn ft-product-card__btn--active">
    <img src="/images/white-cart.svg" alt="cart" />
    ADD TO CART
  </button>

</a>

<a class="ft-product-card" href="">

  <span class="ft-product-card__image">
    <img src="/images/ft-product-card.svg" alt="Featured Product" />
    <div class="ft-product-card__behaviour">
      <div class="ft-product-card__save">
        <img src="/images/green-heart.svg" alt="Save icon" />
      </div>
      <img src="/images/black-search.svg" alt="Search" />
      <img src="/images/compare-icon.svg" alt="Compare" />
    </div>
  </span>

  <p class="ft-product-card__title">vegetables</p>

  <span>
    <i class="fa-solid fa-star ft-product-card__star"></i>
    <i class="fa-solid fa-star ft-product-card__star"></i>
    <i class="fa-solid fa-star ft-product-card__star"></i>
    <i class="fa-solid fa-star ft-product-card__star"></i>
    <i
      class="fa-solid fa-star ft-product-card__star ft-product-card__grey-star"
    ></i>
  </span>

  <p class="ft-product-card__name">organic rocket</p>
  <p class="ft-product-card__volume">1 lb</p>
  <p class="ft-product-card__price">$2.00</p>

  <button class="ft-product-card__btn">
    <img src="/images/white-cart.svg" alt="cart" />
    ADD TO CART
  </button>

</a>

<a class="ft-product-card" href="">

  <span class="ft-product-card__image">
    <img src="/images/ft-product-card.svg" alt="Featured Product" />

    <div class="ft-product-card__tag">
      <div class="ft-product-card__common ft-product-card__state">hot</div>
      <div class="ft-product-card__common ft-product-card__deal">-4 %</div>
    </div>

    <div class="ft-product-card__behaviour">
      <div class="ft-product-card__save">
        <img src="/images/green-heart.svg" alt="Save icon" />
      </div>
      <img src="/images/black-search.svg" alt="Search" />
      <img src="/images/compare-icon.svg" alt="Compare" />
    </div>
  </span>

  <p class="ft-product-card__title">food & grocery</p>

  <span>
    <i class="fa-solid fa-star ft-product-card__star"></i>
    <i class="fa-solid fa-star ft-product-card__star"></i>
    <i class="fa-solid fa-star ft-product-card__star"></i>
    <i class="fa-solid fa-star ft-product-card__star"></i>
    <i
      class="fa-solid fa-star ft-product-card__star ft-product-card__grey-star"
    ></i>
  </span>

  <p class="ft-product-card__name">silver heinz ketchup</p>
  <p class="ft-product-card__volume">350 ml</p>
  <p class="ft-product-card__price">$7.63</p>

  <button class="ft-product-card__btn">
    <img src="/images/white-cart.svg" alt="cart" />
    ADD TO CART
  </button>

</a>

{{#each card-featured-product}}
<a class="ft-product-card" href="">

  <span class="ft-product-card__image">
    <img src="/images/ft-product-card.svg" alt="Featured Product" />
    <div class="ft-product-card__behaviour">
      <div class="ft-product-card__save">
        <img src="/images/green-heart.svg" alt="Save icon" />
      </div>
      <img src="/images/black-search.svg" alt="Search" />
      <img src="/images/compare-icon.svg" alt="Compare" />
    </div>
  </span>

  <p class="ft-product-card__title">{{this.title}}</p>

  <span>
    <i class="fa-solid fa-star ft-product-card__star"></i>
    <i class="fa-solid fa-star ft-product-card__star"></i>
    <i class="fa-solid fa-star ft-product-card__star"></i>
    <i class="fa-solid fa-star ft-product-card__star"></i>
    <i
      class="fa-solid fa-star ft-product-card__star ft-product-card__grey-star"
    ></i>
  </span>

  <p class="ft-product-card__name">{{this.name}}</p>
  <p class="ft-product-card__volume">{{this.volume}}</p>
  <p class="ft-product-card__price">${{this.price}}</p>

  <button class="ft-product-card__btn">
    <img src="/images/white-cart.svg" alt="cart" />
    ADD TO CART
  </button>

</a>
{{/each}}