<a class="card-deal-day card-deal-day__active" href="">
  <img src="/images/ft-product-card.svg" alt="Featured Product" />

  <p class="card-deal-day__title">fruits</p>

  <span>
    <i class="fa-solid fa-star card-deal-day__star"></i>
    <i class="fa-solid fa-star card-deal-day__star"></i>
    <i class="fa-solid fa-star card-deal-day__star"></i>
    <i class="fa-solid fa-star card-deal-day__star"></i>
    <i
      class="fa-solid fa-star card-deal-day__star card-deal-day__star--grey"
    ></i>
  </span>

  <p class="card-deal-day__name">pineapple (tropical gold)</p>
  <p class="card-deal-day__volume">1 lb</p>
  <p class="card-deal-day__price">$1.80</p>

  <p class="card-deal-day__state-bar">
    <span class="card-deal-day__green-bar"></span>
  </p>

  <p class="card-deal-day__state-available">
    <span>Sold: <span class="card-deal-day__state-number">20</span></span>
    <span>Available: <span class="card-deal-day__state-number">10</span></span>
  </p>

</a>

{{#each card-deal-of-the-day}}
<a class="card-deal-day" href="">
  <img src="/images/ft-product-card.svg" alt="Featured Product" />

  <p class="card-deal-day__title">{{this.title}}</p>

  <span>
    <i class="fa-solid fa-star card-deal-day__star"></i>
    <i class="fa-solid fa-star card-deal-day__star"></i>
    <i class="fa-solid fa-star card-deal-day__star"></i>
    <i class="fa-solid fa-star card-deal-day__star"></i>
    <i
      class="fa-solid fa-star card-deal-day__star card-deal-day__star--grey"
    ></i>
  </span>

  <p class="card-deal-day__name">{{this.name}}</p>
  <p class="card-deal-day__volume">{{this.volume}}</p>
  <p class="card-deal-day__price">${{this.price}}</p>

  <p class="card-deal-day__state-bar">
    <span class="card-deal-day__green-bar"></span>
  </p>

  <p class="card-deal-day__state-available">
    <span>Sold: <span class="card-deal-day__state-number">20</span></span>
    <span>Available: <span class="card-deal-day__state-number">10</span></span>
  </p>

</a>
{{/each}}