<button class="categories-button">
  <i class="fa-solid fa-bars categories-button__nav-icon"></i>
  <span class="categories-button__text">ALL CATEGORIES</span>
  <i class="fa-solid fa-chevron-down categories-button__arrow"></i>
</button>