<div class="error-404">
  <h2 class="error-404__heading">
    4
    <span class="error-404__heading--hidden">0</span>
    4
  </h2>

  <p class="error-404__text">
    <span class="error-404__text--bold">
      oops...
    </span>
    <br />
    <span class="error-404__text--lighter">
      We're sorry, but something went wrong.
    </span>
  </p>

  <a href="" class="error-404__btn">back homepage</a>
</div>