<div class="faq-answer">
  <h2 class="faq-answer__heading">orders</h2>

  <div class="faq-answer__container">
    <h3 class="faq-answer__question">
      Bring of had which their whose you're it own?
      <img src="/images/subtract-sign.svg" alt="" class="faq-answer__sign-1" />
      <img src="/images/plus-sign.svg" alt="" class="faq-answer__sign-2" />
    </h3>
    <p class="faq-answer__text faq-answer__text--active">
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
      dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
      doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
      inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
      <br /><br />
      Inquietude simplicity terminated she compliment remarkably few her nay.
      The weeks are ham asked jokes. Neglected perceived shy nay concluded. Not
      mile draw plan snug next all. Houses latter an valley be indeed wished
      merely in my. Money doubt oh drawn every or an china. Visited out friends
      for expense message set eat.
    </p>
  </div>

  <div class="faq-answer__container">
    <h3 class="faq-answer__question">
      Over shall air can't subdue fly divide him?
      <img src="/images/subtract-sign.svg" alt="" class="faq-answer__sign-1" />
      <img src="/images/plus-sign.svg" alt="" class="faq-answer__sign-2" />
    </h3>
  </div>

  <div class="faq-answer__container">
    <h3 class="faq-answer__question">
      Waters one you'll creeping?
      <img src="/images/subtract-sign.svg" alt="" class="faq-answer__sign-1" />
      <img src="/images/plus-sign.svg" alt="" class="faq-answer__sign-2" />
    </h3>
  </div>

</div>