<div class="ft-product-badge">
  <button class="ft-product-badge__btn">
    all
  </button>
  <button class="ft-product-badge__btn">
    butter & eggs
  </button>
  <button class="ft-product-badge__btn">
    fruits
  </button>
  <button class="ft-product-badge__btn ft-product-badge__btn--active">
    vegetables
  </button>
  <button class="ft-product-badge__btn">
    bread
  </button>
</div>