<div class="bg-dark-green">

  <div class="container">
    <div class="grid grid-cols-12 pb-36 pt-28">
      <div class="col-span-6">
        {{> components-newsletter}}
      </div>
      <div class="col-span-6">
        {{> components-subscribe-form}}
      </div>
    </div>

    <div class="grid grid-cols-12 pb-24">
      <div class="col-span-3">
        <div class="flex flex-col">
          <div class="-translate-y-8">
            {{> components-logo-2}}
          </div>
          {{> components-address}}
        </div>
      </div>

      <div class="col-span-3">
        {{> components-contact}}
      </div>

      <div class="col-span-2">
        {{> components-footer-menu-1}}
      </div>

      <div class="col-span-2">
        {{> components-footer-menu-2}}
      </div>

      <div class="col-span-2">
        {{> components-footer-menu-3}}
      </div>
    </div>
  </div>

  <div class="border-t border-bottom-bar border-solid bg-dark-green"></div>

  <div class="container pt-8 pb-7">
    {{> components-bottom-bar}}
  </div>

</div>