<div class="header">
  <div class="header__contact">
    <p><i class="fa-solid fa-phone header__phone-number"></i></p>
    <p>(+035) 527-1710-70</p>

    <p><i class="fa-regular fa-envelope header__mail-address"></i></p>
    <p>order@freshen.com</p>
  </div>

  <div class="header__free-shipping">
    <p>Free shipping for orders over $59. $5.00 USPS Shipping on $25+ !</p>
  </div>

  <div class="header__dropdown">
    <p class="header__dropdown-name">Language</p>
    <button class="header__dropdown-list">
      English
      <i class="fa-solid fa-chevron-down header__dropdown-arrow"></i>

    </button>

    <p class="header__dropdown-name">Currency</p>
    <button class="header__dropdown-list">
      USD($)
      <i class="fa-solid fa-chevron-down header__dropdown-arrow"></i>
    </button>
  </div>
</div>