<div class="bg-green-900">
  <div class="container mx-auto">
{{> components-top-bar}}
  </div>
</div>

<div class="container flex items-center py-8">

{{> components-logo}}
<div class="ml-auto min-w-search-bar">
{{> components-search-bar}}
</div>

<div class="ml-8 ">
{{> components-account-info}}
</div>

</div>

  <div class="border-t border-grey border-solid"></div>
<div class="container flex items-center h-16">
  <div class="self-end">
{{> components-categories-button}}
  </div>
<div class="self-start ml-20">
{{> components-nav-bar}}
</div>
<div class="ml-auto">
{{> components-hotline}}
</div>
</div>