<div class="bg-dark-green hidden xl:block">
  <div class="container mx-auto">
    {{> components-top-bar}}
  </div>
</div>

<div class="container flex items-center justify-between px-5 py-3 xl:py-8">

  <img src="/images/nav-icon-2.svg" alt="nav-icon" class="xl:hidden">

  {{> components-logo}}

  <div class="ml-auto min-w-search-bar hidden xl:block">
    {{> components-search-bar}}
  </div>

  <div class="ml-8">
    {{> components-account-info}}
  </div>
</div>

<div class="border-t border-grey border-solid hidden xl:block"></div>

<div class="container items-center h-16 hidden xl:flex">
  <div class="self-end">
    {{> components-categories-button}}
  </div>
  <div class="self-start ml-20">
    {{> components-nav-bar}}
  </div>
  <div class="ml-auto">
    {{> components-hotline}}
  </div>
</div>