<div class="hero-3">
  <div class="container pt-32 pb-20">
    <div class="hero-3__intro">
      <p class="hero-3__text-2">shop</p>
      <a href="" class="hero-3__btn">home</a><span> / </span><a href="" class="hero-3__btn hero-3__btn--bold">shop</a>
    </div>
  </div>

  <img src="/images/farmer.svg" class="hero__farmer" alt="Farmer Image" />
</div>