<div class="hero-4">
  <div class="container">
    <a href="" class="hero-4__btn">home</a><span> / </span><a
      href=""
      class="hero-4__btn hero-4__btn--bold"
    >my-account</a>
  </div>
</div>