<div class="hero-4 mt-3 mb-12 pt-12 pb-7">
  <div class="container">
    <a href="" class="hero-4__btn">home</a><span> / </span><a
      href=""
      class="hero-4__btn hero-4__btn--bold"
    >my-account</a>
  </div>
</div>