{{> components-header}}

{{> components-hero}}

<div class="container mb-24">
  <div class="mb-8">
    <h2 class="heading-section">top categories of the month</h2>
  </div>

  <div class="flex justify-between">
    {{> components-card-category}}
  </div>
</div>

<div class="mb-24">
  {{> components-banner-2}}
</div>

<div class="container">
  <h2 class="heading-section">featured products</h2>

  <div class="flex justify-center mt-9 mb-12">
    {{> components-featured-product-badge}}
  </div>

  <div class="grid grid-cols-12 gap-7">
    {{> components-card-featured-product}}
  </div>
</div>

<div class="container mt-32 mb-24">
  {{> components-order-service}}
</div>

<h2 class="heading-section mb-10">deal of the day<div
    class="heading-section__badge"
  >ends in: 04:43:11</div></h2>
<div class="container mb-24">
  <div class="grid grid-cols-12 gap-x-7">
    {{> components-card-deal-of-the-day}}
  </div>
</div>

{{> components-hero-2}}

<div class="container -translate-y-24 mb-24">
  {{> components-banner}}
</div>

<h2 class="heading-section mb-7">our blog</h2>
<div class="container mb-32">
  <div class="grid grid-cols-12 gap-x-7">
    {{> components-card-blog}}
  </div>
</div>

<h2 class="heading-section mb-7">why choose us</h2>
<div class="container mb-24">
  <div class="grid grid-cols-12 gap-x-8">
    {{> components-why-section}}
  </div>
</div>

<h2 class="heading-section mb-6">why choose us</h2>
<div class="container mb-32">
  <div class="grid grid-cols-10 gap-2">
    {{> components-card-instagram}}
  </div>
</div>

{{> components-footer}}