<div class="hotline">
  <img src="/images/hotline-phone.svg" alt=" Hotline Phone" />
  <span class="hotline__text"><a href="tel:(42)500-78-42">HOTLINE</a></span>
  <a href="tel:(42)500-78-42" class="hotline__number">(42) 500-78-42</a>
</div>