<div class="logo-2">
  <img src="/images/logo-2.svg" alt="" class="logo-2__img"/>
  <div class="logo-2__content">
    <h1 class="logo-2__heading">FRESHEN</h1>
    <p class="logo-2__subheading">ORGANIC STORE</p>
  </div>
</div>