<div class="logo">
  <img src="/images/logo.svg" alt="" class="logo__img"/>
  <div class="logo__content">
    <h1 class="logo__heading">FRESHEN</h1>
    <p class="logo__subheading">ORGANIC STORE</p>
  </div>
</div>