<div class="nav-bullets">
  <button class="nav-bullets__bullet"></button>
  <button class="nav-bullets__bullet nav-bullets__bullet--active"></button>
  <button class="nav-bullets__bullet"></button>
  <button class="nav-bullets__bullet"></button>
  <button class="nav-bullets__bullet"></button>
</div>