<div class="nav-bar">
  <button class="nav-bar__menu">
    <span class="nav-bar__name">
      HOME
    </span>
    <i class="fa-solid fa-chevron-down nav-bar__arrow-icon"></i>
  </button>
  <button class="nav-bar__menu">
    <span class="nav-bar__name">
      FRESH FOOD
    </span>
  </button>
  <button class="nav-bar__menu">
    <span class="nav-bar__name">
      BAKERY
    </span>
  </button>
  <button class="nav-bar__menu">
    <span class="nav-bar__name">
      DRINKS
    </span>
  </button>
  <button class="nav-bar__menu">
    <span class="nav-bar__name">
      SHOP
    </span>
    <i class="fa-solid fa-chevron-down nav-bar__arrow-icon"></i>
  </button>
  <button class="nav-bar__Pages-menu">
    <span class="nav-bar__Pages-menu-name">
      PAGES
    </span>
    <i class="fa-solid fa-chevron-down nav-bar__Pages-arrow-icon"></i>
  </button>
  <button class="nav-bar__menu">
    <span class="nav-bar__name">
      BLOG
    </span>
    <i class="fa-solid fa-chevron-down nav-bar__arrow-icon"></i>
  </button>
  <button class="nav-bar__menu">
    <span class="nav-bar__name">
      CONTACT
    </span>
  </button>
</div>