<button class="nav-arrow-2">
  <i class="fa-solid fa-chevron-left"></i>
</button>
<button class="nav-arrow-2 nav-arrow-2__right nav-arrow-2__active">
  <i class="fa-solid fa-chevron-left"></i>
</button>