<nav class="nav-bar">
  <a href="" class="nav-bar__menu">
    <span class="nav-bar__name">
      HOME
    </span>
    <i class="fa-solid fa-chevron-down nav-bar__arrow-icon"></i>
  </a>
  <a href="" class="nav-bar__menu">
    <span class="nav-bar__name">
      FRESH FOOD
    </span>
  </a>
  <a href="" class="nav-bar__menu">
    <span class="nav-bar__name">
      BAKERY
    </span>
  </a>
  <a href="" class="nav-bar__menu">
    <span class="nav-bar__name">
      DRINKS
    </span>
  </a>
  <a href="" class="nav-bar__menu">
    <span class="nav-bar__name">
      SHOP
    </span>
    <i class="fa-solid fa-chevron-down nav-bar__arrow-icon"></i>
  </a>
  <a href="" class="nav-bar__menu nav-bar__menu--active">
    <span class="nav-bar__name">
      PAGES
    </span>
    <i class="fa-solid fa-chevron-down nav-bar__arrow-icon"></i>
  </a>
  <a href="" class="nav-bar__menu">
    <span class="nav-bar__name">
      BLOG
    </span>
    <i class="fa-solid fa-chevron-down nav-bar__arrow-icon"></i>
  </a>
  <a href="" class="nav-bar__menu">
    <span class="nav-bar__name">
      CONTACT
    </span>
  </a>
</nav>