<div class="newsletter">
  <img
    src="/images/newsletter-icon.svg"
    alt="newsletter"
    class="newsletter__img"
  />
  <div class="newsletter__content">
    <h1 class="newsletter__heading">SIGN UP FOR NEWSLETTER</h1>
    <p class="newsletter__subheading">Subcribe to the weekly newsletter for all
      the latest updates</p>
  </div>
</div>