<br><br>
<div class="order-service">
  <img src="/images/delivery.svg" alt="Delivery" class="order-service__delivery">
  <img src="/images/whatsapp-icon.svg" alt="Whatsapp">
  <p>WHATSAPP ORDERING SERVICE - PLACE YOUR ORDERS AT<a href="tel:3929632" class="order-service__phone"> 392 96 32</a></p>
</div>