<div class="promotion-big">
  <p class="promotion-big__text-1">fresh fruit</p>
  <p class="promotion-big__text-2">fresh summer with<br />just $200.99</p>
  <a href="" class="promotion-big__btn">shop now
    <span class="promotion-big__btn-effect"></span>
  </a>
</div>