<div class="promotion-small">
  <p class="promotion-small__text-1">seasonal sale</p>
  <p class="promotion-small__text-2">up to breads<br /><span
      class="promotion-small__text-separate"
    > 50% off</span></p>
  <a href="" class="promotion-small__btn">shop now
    <span class="promotion-small__btn-effect"></span>
  </a>
</div>

<div class="promotion-small promotion-small__background-2">
  <p class="promotion-small__text-1">tasty healthy</p>
  <p class="promotion-small__text-2">fresh<br /><span
      class="promotion-small__text-separate"
    >vegetables</span></p>
  <a href="" class="promotion-small__btn">shop now
    <span class="promotion-small__btn-effect"></span>
  </a>
</div>