<div class="search-bar-2">
  <input
    type="text"
    name="subscribe"
    placeholder="Enter your country or city"
    class="search-bar-2__input"
  />

  <button class="search-bar-2__btn">
    <i class="fa-solid fa-magnifying-glass"></i>
  </button>
</div>