<div class="social">
  <a href="" class="social__icon">
    <img src="/images/fb-icon.svg" alt="facebook">
  </a>
  <a href="" class="social__icon">
    <img src="/images/twitter-icon.svg" alt="twitter">
  </a>
  <a href="" class="social__icon">
    <img src="/images/ig-icon.svg" alt="instagram">
  </a>
  <a href="" class="social__icon">
    <img src="/images/youtube-icon.svg" alt="youtube">
  </a>
  <a href="" class="social__icon">
    <img src="/images/pinterest-icon.svg" alt="pinterest">
  </a>
</div>