{{#each store-location}}
  <div class="store-location">
    <h2 class="store-location__heading">store in {{this.heading}}</h2>

    <p class="store-location__info">
      1418 River Drive, Suite 35 Cottonhall, CA 9622 United States
      <br />
      +1 246-345-0695
      <br />
      10 am - 10 pm EST, 7 days a week
    </p>

    <a href="" class="store-location__btn">
      SEE ON THE MAP
      <span class="store-location__underline"></span>
    </a>
  </div>
{{/each}}