<div class="top-categories">

  <p class="top-categories__title">TOP CATEGORIES OF THE MONTH</p>

  <div class="top-categories__categories-container">

    <div class="top-categories__category">
      <div class="top-categories__category-image">
        <img src="/images/food-grocery.svg" alt="Food & Grocery" />
      </div>
      <span class="top-categories__category-name">FOOD & GROCERY</span>
    </div>

    <div class="top-categories__category">
      <div class="top-categories__category-image">
        <img src="/images/bread.svg" alt="Bread" />
      </div>
      <span class="top-categories__category-name">BAKERY</span>
    </div>

    <div class="top-categories__category">
      <div class="top-categories__category-image--active">
        <img src="/images/vegetables.svg" alt="Vegetables" />
      </div>
      <span class="top-categories__category-name--active">VEGETABLES</span>
    </div>

    <div class="top-categories__category">
      <div class="top-categories__category-image">
        <img src="/images/pineapple.svg" alt="Pineapple" />
      </div>
      <span class="top-categories__category-name">FRUITS</span>
    </div>

    <div class="top-categories__category">
      <div class="top-categories__category-image">
        <img src="/images/salmon.svg" alt="Salmon" />
      </div>
      <span class="top-categories__category-name">SEA FOOD</span>
    </div>

    <div class="top-categories__category">
      <div class="top-categories__category-image">
        <img src="/images/steak.svg" alt="Steak" />
      </div>
      <span class="top-categories__category-name">FRESH MEAT</span>
    </div>

    <div class="top-categories__category">
      <div class="top-categories__category-image">
        <img src="/images/egg.svg" alt="Eggs" />
      </div>
      <span class="top-categories__category-name">BUTTER & EGGS</span>
    </div>

    <div class="top-categories__category">
      <div class="top-categories__category-image">
        <img src="/images/milk.svg" alt="Milk" />
      </div>
      <span class="top-categories__category-name">MILKS & CREAMS</span>
    </div>

  </div>

</div>