{{#each why-section}}
  <div class="col-span-full lg:col-span-4">
    <div class="why">
      <div class="why__img-bg">
        <img src="{{this.image}}" alt="{{this.alt}}" class="why__img" />
      </div>

      <p class="why__text-1">{{this.text-1}}</p>
      <p class="why__text-2">{{this.text-2}}</p>
    </div>
  </div>
{{/each}}