
<!--DO NOT REMOVE-->
{{{ patternLabFoot }}}

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.6.0/glide.min.js"></script>
<script type="module" src="../../js/main.js?"></script>

</html>
